.unOrderedList{
    text-align: center;
    margin-right: 250px; 
    margin-left: 250px; 
    
}

.mainList {
    border: 3px solid white;
    padding: 10px;
    width: 50%;
    float: left;
    padding: 10px;
    border: 2px solid white;
}

.itemTitle{
    list-style-type: none;
}
.itemDes{
    text-align: center;
    font-size: 60px;
    padding-top: 20px;
    font-weight:lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.itemTitle{
    font-size: 25px;
    padding-bottom: 10px;
}

.itemPrice{
  
    font-size: 20px;
    float: left;
    margin-left: 50px;
    padding-top: 5px;
    font-weight: bold;
    margin-top: 10px;
    
    

}
.addToCart{
    float: right;
    margin-right: 50px;
    border: 1px solid skyblue;
    background-color: skyblue;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 10px;

}

.addToCart:hover {background-color: rgb(79, 183, 224)}
.addToCart:active {
    background-color:  rgb(79, 183, 224);
    
    transform: translateY(2px);
  }

.itemImage{
    border-radius: 10px;
    box-shadow: 10px 10px 8px #888888;

}

.imageButton{
    background-color: white;
    border: none;
}

