.cartImages{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 20px;
  
}
.mainUl{
    padding-left: 0px;
    width: 600px;
}
.singleList{
    display: flex;
    margin: 0px;
    text-align: center;
    
    
}

.cartName{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
};


.cartHeader{
    display: flex;
    padding-bottom: 20px;
    
}
.tpq{
    flex: 0.5;
    margin-left: 60px;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 50px;

    
    
}

.tpq1{
    flex: 0.5;
    padding-top: 20px;
    padding-left: 0px;
}
.tpq2{
    width: 30px;
    height: 30px;
    margin-right: 30px;
    margin-top: 19px;
    background-color: red;
    border: none;
    color: white;
    font-size: large;
    border-radius: 5px;

}
.tpq2:active{
    transform: translateY(2px);
    background-color: rgb(202, 0, 0);
}
.removeButton{
    background-color: red;
    float: right; 
    border: none;
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    margin-top: 20px;
    width: 80px;
    height: 30px;

}
.removeButton:hover{
    background-color: rgb(202, 0, 0);
}

.closeCart{
    border: none;
    background-color: red;
    color: white;
    font-size: larger;
    border-radius: 3px;
    position:absolute;
    top:25px;
    right: 35px;
    
}
.closeCart:hover{
    background-color: rgb(202, 0, 0);

}

.totalCost{
    text-align: center;
    
    font-weight: bold;
    font-size: x-large;
}

.purchase{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-left: 240px;
    margin-top: 20px;
    
    
}


.purchase:hover {background-color: rgb(79, 183, 224)}




